body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding-left: 96px;
    padding-right: 96px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 96px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    gap: 24px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}


.header-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    width: 450px;
    flex-wrap: wrap;
}

.secondary-hero {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.signup1 {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 8px;
    border-radius: 10px;
    width: 150px;
    border: none;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color:gray;
    width: 500px;
    height: 250px;
}